/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');


:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
    --color-default: #242039;
    --color-primary: #0ed970;
    --color-secondary: #8a74fb;
    --color-hover: #ffc732;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

#background {
    width: 100vw;
    height: 100vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)),
    url(../assets/imgs/library-wallpaper.jpg) no-repeat center center/cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.nav a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ffc732;
    text-decoration: none;
}

.nav ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--color-primary);
}

/*--------------------------------------------------------------
  Header Principal
  --------------------------------------------------------------*/
#header {
    top: 0;
    max-height: 120px;
    width: 100%;
    z-index: 10;
    font-family: "Tiny5", sans-serif;
    font-style: normal;
    transition: color 0.5s ease;
    font-size: 25px;
    padding: 15px;
    position: relative;
    margin: 0;
}

.logo {
    text-decoration: none;
}

#header .container-fluid {
    list-style: none;
    width: 100vw;
}

#header .logo h1 {
    font-size: 55px;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 0;
    font-family: "Tiny5", sans-serif;
    font-style: normal;
    transition: color 0.5s ease;
}

#header .logo h1:hover {
    color: var(--color-hover);
}

#header .nav {
    width: 100%;
}

/*--------------------------------------------------------------
  Sessão de busca dos jogos
  --------------------------------------------------------------*/
.search-games {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    z-index: 99;
}

.search-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-caption input {
    max-width: 400px;
}

.search-games h1 {
    color: var(--color-secondary);
    font-size: 50px;
}

.search-games p {
    font-size: 25px;
}